<header class="bp-header cf">
	{% if page.title == null %}
		<span>{{ site.title }}</span>
		<div id="site-info">{{ site.info }}</div>
		<h1>{{ site.message }}</h1>
		<nav>
			<a class="bp-icon bp-icon-child" id="hire_me_button" data-info="About Me"><span>About Me</span></a>
			<a href="{{ site.twitter_username | prepend: "https://twitter.com/" }}" class="bp-icon bp-icon-twitter" data-info="@{{ site.twitter_username }}" target="_blank"><span>@{{ site.twitter_username }}</span></a>
			<a href="https://www.github.com/therzka" class="bp-icon bp-icon-github" data-info="GitHub" target="_blank"><span>GitHub</span></a>
			        <a href="https://www.linkedin.com/in/taliherzka" class="bp-icon bp-icon-linkedin" data-info="LinkedIn" target="_blank"><span>LinkedIn</span></a>

			<a href="mailto:{{ site.email }}" class="bp-icon bp-icon-email" data-info="send me e-mail"><span>send me e-mail</span></a>
		</nav>
	{% endif %}
</header>
